:root {
	--bg: #f1f4e0;
	--color: #333;
	--accent1: #2e4d17;
	--accent2: #6a994e;
	--accent3: #ffad33;
	--gray: #b8b8b8;
}

.dark {
	--bg: #4b6158;
	--color: #e8eae6;
	--accent1: #f1f4e0;
	--accent2: #8bc34a;
	--accent3: #ffb74d;
	--gray: #65ae83;
	--link: #a2e2a4;
}


* {
	box-sizing: border-box;
	margin: 0;
}

body {
	padding: 0rem 0.3rem;
	min-height: 100vh;
	width: 100%;
	max-width: clamp(300px, 100%, 800px);
	margin: auto;
	color: var(--color);
	background: var(--bg);
	font-optical-sizing: auto;
	line-height: 2.3;
}

