/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
  font-family: Verdana, sans-serif;
  padding: 20px;
  text-align: left;
  background-color: var(--bg-light);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.8;
  color: var(--text);
  max-width: clamp(320px, 90%, 731px);
  margin: auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #3273dc;
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 0rem 1rem;
  margin: 0;
  border-radius: 0.5rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

pre::before,
pre::after {
  content: "```";
  display: block;
}
.code-block-title-wrapper {
  position: relative;
}
.code-block-title {
  font-size: 13px;
  color: #d5ced9;
  display: inline-block;
  background-color: #23262e;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.code-block-title::before,
.code-block-title::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
}
.code-block-title::after {
  /* background-color: red; */
  /* background-color: var(--bg-light); */
  position: absolute;
  border-radius: 0 0 0 100%;
  top: calc(100% + 0.2rem);
  right: -0.5rem;
}
.code-block-title::before {
  background-color: #23262e;
  position: absolute;
  left: 0;
  bottom: -1.1rem;
}

:root {
  --a: #add9c5;
  --b: #8ebf5e;
  --c: #a9d941;
  --d: #cdf27e;
  --e: #afd972;
  --bg-light: #f1f4e0;
  --bg-dark: #004449;
  --text: #444;

  --pagefind-ui-primary: var(--text);
  --pagefind-ui-text: var(--text);
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: var(--a);
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
}
