---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import LinkItem from "../../components/LinkItem.astro";

export async function getStaticPaths() {
	const allPosts = await getCollection("blog");

	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())].filter(
		(v) => v !== undefined
	);

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) => post.data.tags?.includes(tag));
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base>
	<h2>Posts tagged with 『{tag}』</h2>
	<ul>
		{
			posts.map((post) => (
				<li>
					<LinkItem
						slug={post.slug}
						pubDate={post.data.pubDate}
						title={post.data.title}
						kind="blog"
					/>
				</li>
			))
		}
	</ul>
</Base>

<style>
	ul {
		list-style: none;
		padding: 0;
	}
</style>
