---
import Base from "../layouts/Base.astro";
---

<Base>
	<section role="region" aria-label="プロフィール">
		<h2>輪ごむ について</h2>
		<p>妻と子供の3人で暮しているITエンジニアです</p>
		<p>絵をたまに描きます</p>
	</section>
	<section role="region" aria-label="好きなもの">
		<h2>好きなもの</h2>

		<h3>ツール</h3>
		<ul>
			<li>Vim/Neovim</li>
		</ul>

		<h3>言語・フレームワーク</h3>
		<ul>
			<li>Astro</li>
			<li>C#</li>
			<li>CSS</li>
			<li>SQL</li>
			<li>TypeScript</li>
		</ul>
	</section>
</Base>
