---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<Base>
  <!-- <img src="https://github.com/staticWagomU.png" alt="profile image" id="profile" loading="eager" /> -->
  <h2>About</h2>
  <section>
    <p>輪ごむです。</p>
    <p>CSS, Neovim, Vimが好きです。</p>
    <h3>Link</h3>
    <ul>
      <li><a href="https://codepen.io/statictowa">Codepen</a></li>
      <li>
        <a href="https://github.com/staticWagomU">Github</a> (<a
          href="https://github.com/staticWagomU/dotfiles">dotfiles</a
        >)
      </li>
      <li><a href="https://zenn.dev/wagomu">Zenn</a></li>
    </ul>
  </section>

  <h2>Recent Posts</h2>
  <section class="recent-posts">
    <ul>
      {
        posts
          .filter((post) => post.data.published)
          .map((post) => (
            <li>
              <span>
                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
              </span>
              <time>
                {post.data.pubDate
                  .toLocaleDateString("ja-JP", {
                    year: "numeric",
                    month: "2-digit",
                    day: "2-digit",
                  })
                  .split("/")
                  .join("-")}
              </time>
            </li>
          ))
      }
    </ul>
  </section>
</Base>

<style>
  * {
    line-height: 2rem;
  }

  h2 {
    color: var(--bg-dark);
  }

  section {
    border-left: 3px solid var(--bg-dark);
    margin-bottom: 3rem;

    & > :not(h2) {
      margin-left: 1.5rem;
    }

    &.recent-posts > ul {
      padding-left: 0;

      li + li {
        margin-top: 2rem;
      }

      & > li {
        list-style: none;
        display: flex;
        flex-direction: column;
      }
    }
  }

  time {
    font-size: 0.9rem;
    opacity: 0.9;
    line-height: 0.9rem;
  }

  #profile {
    display: block;
    aspect-ratio: 1 / 1;
    width: 150px;
    padding: 1rem;
    border-radius: 50%;
    margin: 0 auto;
  }
</style>
