---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>輪ごむです。</p>
      <p>CSS, Neovim, Vimが好きです。</p>
      <h2>Link</h2>
      <ul>
        <li><a href="https://codepen.io/statictowa">Codepen</a></li>
        <li><a href="https://github.com/staticWagomU">Github</a> (<a href="https://github.com/staticWagomU/dotfiles">dotfiles</a>)</li>
        <li><a href="https://zenn.dev/wagomu">Zenn</a></li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
