---
import Base from "../layouts/Base.astro";
---

<Base>
	<h2>ライセンス</h2>
	<p>
		このブログの記事は、<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja"
			>クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a
		>の下に提供されています。
	</p>
	<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja" rel="license">
		<img
			alt="クリエイティブ・コモンズ・ライセンス"
			src="https://i.creativecommons.org/l/by/4.0/88x31.png"
		/>
	</a>
</Base>
