---
import HeaderLink from "./HeaderLink.astro";
import OutwardIcon from "./Icon/OutowardIcon.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <a href="https://gist.github.com/staticWagomU/a82a12613a24685e16ded616a2566db5" target="_blank"
      >CV<OutwardIcon /></a
    >
  </nav>
</header>
