---
import { meta } from '@astrojs/renderer-svelte';
---

<script>
  export let url;
  let ogImageUrl = '';
  let title = '';
  let description = '';

  const metaTags = meta.use();
  const ogpMetaTags = metaTags.filter((tag) => tag.property === 'og:image');
  const titleMetaTags = metaTags.filter((tag) => tag.property === 'og:title' || tag.name === 'title');
  const descriptionMetaTags = metaTags.filter((tag) => tag.property === 'og:description');

  if (ogpMetaTags.length > 0) {
    ogImageUrl = ogpMetaTags[0].content;
  }

  if (titleMetaTags.length > 0) {
    title = titleMetaTags[0].content;
  }

  if (descriptionMetaTags.length > 0) {
    description = descriptionMetaTags[0].content;
  }
</script>

<main>
  <h1>{title}</h1>
  <img src={ogImageUrl} alt="OGP Image" />
  <p>{description}</p>
</main>

