---
import "../styles/base.css";
import "../styles/theme-toggle.css";

import { SITE_TITLE } from "../config";

type Props = {
	title?: string;
};

const { title } = Astro.props;

const today = new Date();
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title || SITE_TITLE}</title>
	</head>
	<body>
		<nav>
			<h1><a href="/">{SITE_TITLE}</a></h1>
			<ul>
				<li>
					<a href="/blog">Blog</a>
				</li>
				<li>
					<button id="theme-toggle">
						<span class="theme-icon icon-sun"></span>
					</button>
				</li>
				<li><a href="/rss.xml"><span class="icon-rss"></span></a></li>
			</ul>
		</nav>
		<slot />
		<footer>
			<p>&copy; {today.getFullYear()} wagomu. All rights reserved.</p>
			<ul>
				<li>
					<a href="https://zenn.dev/wagomu"><span class="zenn-icon"></span></a>
				</li>
				<li>
					<a href="https://github.com/staticWagomU/BoxOfRubberBands"
						><span class="github-icon"></span></a
					>
				</li>
				<li>
					<a href="https://codepen.io/statictowa"><span class="codepen-icon"></span></a>
				</li>
			</ul>
		</footer>
	</body>
</html>

<script is:inline>
	function toggleTheme() {
		const body = document.body;
		const themeIcon = document.querySelector(".theme-icon");

		if (document.startViewTransition) {
			document.startViewTransition(() => {
				body.classList.toggle("dark");
				const isDark = body.classList.contains("dark");
				localStorage.setItem("theme", isDark ? "dark" : "light");

				if (isDark) {
					themeIcon.classList.remove("icon-sun");
					themeIcon.classList.add("icon-moon");
				} else {
					themeIcon.classList.remove("icon-moon");
					themeIcon.classList.add("icon-sun");
				}
			});
		} else {
			body.classList.toggle("dark");
			const isDark = body.classList.contains("dark");
			localStorage.setItem("theme", isDark ? "dark" : "light");

			sun.classList.toggle("hidden");
			dark.classList.toggle("hidden");
		}
	}

	document.addEventListener("DOMContentLoaded", () => {
		const savedTheme = localStorage.getItem("theme");
		const themeIcon = document.querySelector(".theme-icon");

		if (savedTheme === "dark") {
			document.body.classList.add("dark");

			themeIcon.classList.remove("icon-sun");
			themeIcon.classList.add("icon-moon");
		} else {
			document.body.classList.remove("dark");

			themeIcon.classList.remove("icon-moon");
			themeIcon.classList.add("icon-sun");
		}

		const toggleButton = document.getElementById("theme-toggle");
		if (toggleButton) {
			toggleButton.addEventListener("click", toggleTheme);
		}
	});
</script>
