---
import HeaderLink from "../components/HeaderLink.astro";
import OutwardIcon from "../components/Icon/OutowardIcon.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import "../styles/global.css";

const today = new Date();
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={title || SITE_TITLE} description={description || SITE_DESCRIPTION} />
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Wagomu no Akibako</a>
      </h1>
      <nav>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Post</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      &copy; {today.getFullYear()} wagomu. All rights reserved.
    </footer>
  </body>
</html>

<style>
  nav {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;

    a {
      width: max-content;
      text-decoration: none;
      color: var(--text-color);
    }
  }
</style>
